@import '@/sass/variables.scss';

// Layout
body {
    padding: 50px 0;
}

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1250px;
    }
}

// Navigation
.breadcrumb {
    a {
        font-weight: bold;
        text-decoration: none;
        color: $dark;
    }
}

// Headings
h1 {
    color: $purple;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
}
h4 {
    color: $purple;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

h5 {
    font-weight: 700;
    color: $purple;
}

// Button
.btn {
    background: $purple;
    color: white;
    border-radius: 15px;
    padding: 7px 18px;
    font-weight: 500;
    font-size: 16px;
    font-weight: 500;

    &:hover {
        color: white;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }
}